body {
	font-family: Georgia, serif;
	background-color: #aaa;
	color: #222;
}

a, a:visited {
	color: #05c;
}

#main {
	width: 800px;
	border: 1px solid #aaa;
	border-radius: 10px;
	margin: 20px auto;
	min-height: 800px;
	padding: 20px 40px;
	background-color: #eee;
}

.aside {
	border: 1px solid #cca;
	background-color: #eeb;
	border-radius: 5px;
	padding: 10px 20px;
}

h1 .author {
	font-size: 20px;
	font-style: italic;
	padding-left: 10px;
	color: #888;
}

.aside h1 {
	font-size: 18px;
	text-align: center;
}

#main > h2 {
	margin-top: 40px;
}

#main > h3 {
	margin-top: 30px;
}

li {
	padding-bottom: 10px;
}

ul.sublist {
	font-size: 14px;
}

p.unix-command {
	background-color: #ddd;
	padding: 10px 20px;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 14px;
	white-space: pre-line;
}

p.unix-output {
	background-color: #ddd;
	padding: 10px 20px;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 14px;
	white-space: pre;
}

p.unix-command::before {
	content: '$ ';
}

span.unix-command {
	/*background-color: #ddd;*/
	/*padding: 10px 20px;*/
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 14px;
	font-weight: bold;
	padding: 0px 3px;
	white-space: nowrap;
}
